[access "refs/for/refs/heads/*"]
	push = group vCHS DBaaS Commiters
	pushMerge = group vCHS DBaaS Commiters
[access "refs/heads/*"]
	push = group vCHS DBaaS Commiters
	pushMerge = group vCHS DBaaS Commiters
	label-Code-Review = -2..+2 group vCHS DBaaS Commiters
	label-Verified = -1..+1 group vCHS DBaaS Commiters
	submit = group vCHS DBaaS Commiters
[access "refs/tags/*"]
	create = group vCHS DBaaS Commiters
